<app-header></app-header>

<div class="main-container">
    <div class="white-screen">
        <h2 class="titulo">Tus Ejercicios: </h2>
<div class="container">
    <p-table [scrollable]="true" scrollHeight="50vh" [value]="listEjercicios" styleClass="p-datatable-gridlines" [tableStyle]="{ 'width': '90%', 'margin-left': '5%', 'margin-top': '2%' }">
        <!-- <ng-template pTemplate="caption"> ESTADO: {{rutina.estado}} </ng-template>-->
        <ng-template pTemplate="header">
            <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Progreso</th>
                
                
                
            </tr>
        </ng-template>
        
    
        <ng-template pTemplate="body" let-e >
            <tr>
                <td>{{ e }}</td>
                <td>{{ e }}</td>
                <td><p-button label="Ver Progreso" class="button" (click)="verDetalle(e)" ></p-button></td>
                
            </tr>
        </ng-template>
        
    </p-table>

</div>



</div></div>

