<app-header></app-header>
<div class="main-container">
    <div class="white-screen">
<h2 class="titulo">Datos del Ejercicio: </h2>

<div class="up-container">
    <h2 class="titulo">100m</h2>
    <p-button label="Ver Gráficas" class="button" (click)="verDetalle(ejercicio.ejercicio.nombre)" ></p-button>
</div>
<div class="container">
    <div class="timeline-container">
        <p-timeline [value]="ejercicios.tiempo" styleClass="circle-custom" >
            <ng-template pTemplate="content" let-event>
                <small class="p-text-secondary">Descanso: {{ ejercicios.tiempoDescanso[ejercicios.tiempo.indexOf(event)] }}</small>
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
                {{ event }}
            </ng-template>
        </p-timeline>
    </div>
    
    <div class="table-container">
        <p-table [value]="ejercicio.series" styleClass="p-datatable-gridlines"[tableStyle]="{ 'width': '90%', 'margin-left': '5%', 'margin-top': '4%' }">
        
            <ng-template pTemplate="header">
                <tr>
                    <th>Nro Serie</th>
                    <th>Tiempo</th>
                    <th>Tiempo Descanso</th>
                    <th>Frecuencia Cardiaca</th>
                    <th>Velocidad</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-serie>
                <tr>
                    <td>{{ ejercicio.series.indexOf(serie) + 1}}°</td>
                    <td>{{ serie.tiempo }} ▲</td>
                    <td> {{serie.tiempo }} ▼</td>
                    <td>{{ serie.fre_cardiaca }}</td>
                    <td> {{serie.velocidad }}</td>
                </tr>
            </ng-template>
            
        </p-table>
    </div>
    
</div>
<div class="bot-container">
    <div class="box">
        <h2 class="box-title">Promedio Historico F.C.</h2>
        <h2  class="box-data">60.6</h2>
        <h2 class="box-title">Promedio Historico Tiempo</h2>
        <h2  class="box-data">10.54</h2>
        
    </div>
    <div class="box">
        <h2 class="box-title">Promedio Frecuencia Cardiaca</h2>
        <h2  class="box-data">60.6</h2>
        <h2 class="box-title">Promedio Tiempo</h2>
        <h2  class="box-data">10.54</h2>
    </div>
    <div class="box">
        <h2 class="box-title">Mejor TIempo Historico</h2>
        <h2  class="box-data">60.6</h2>
        <h2 class="box-title">Peor Tiempo Historico</h2>
        <h2  class="box-data">10.54</h2>
    </div>
    <div class="box">
        <h2 class="box-title">Mejor Tiempo</h2>
        <h2  class="box-data">60.6</h2>
        <h2 class="box-title">Peor Tiempo</h2>
        <h2  class="box-data">10.54</h2>
    </div>
    <div class="box">
        <h2 class="box-title">Diferencia de promedios</h2>
        <h2  class="box-data">60.6</h2>
        <h2 class="box-title">Nuevo P. Historico</h2>
        <h2  class="box-data">10.54</h2>
    </div>
</div>
</div>
</div>